<section ng-init="showCategories()">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<div class="card-group text-md-center">
					<div class="card" ng-repeat="category in categories">
						<div class="hovereffect1">
							<img class="card-img-top img-fluid" ng-src="images/categories/{{ category.category_image }}.jpg" alt="Category 1">
							<div class="overlay1">
								<h2>{{ category.category_name }}</h2>
								<p>
									<a class="btn btn-outline-secondary text-uppercase view-category" href="#"><i class="fa fa-angle-double-down"></i>View Category</a>
								</p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<nav class="navbar search-bar">
					<form class="form-inline pull-md-left">
						<div class="dropdown">
							<button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
								Category
							</button>
							<div class="dropdown-menu" aria-labelledby="dropdownMenu1">
								<a class="dropdown-item" ng-repeat="category in categories">{{ category.category_name }}</a>
							</div>
						</div>
					</form>
					<div class="nav navbar-nav category-nav pull-md-right">
						<a href="#" class="btn btn-outline-secondary btn-square nav-item nav-link"><i class="fa fa-th-large"></i></a>
						<a href="#" class="btn btn-outline-secondary btn-square nav-item nav-link"><i class="fa fa-th-list"></i></a>
					</div>
			</div>
		</div>
	</div>
</section>

<section>
	<div class="container">
		<div class="row">
			<div class="col-md-3" ng-init="showBrands()">
				<div class="card-deck-wrapper">
					<div class="card-deck side-bar">
						<div class="card">
							<div class="card-header btn-square">
								Brands
								<input class="form-control" type="text" ng-model="query" placeholder="Search here..."></input>
							</div>
							<ul class="list-group list-group-flush" ng-repeat="brand in brands">
								<li class="list-group-item item-brand"><label><input type="checkbox"> {{ brand.brand_name }}</label></li>
							</ul>
						</div>
					</div>
				</div>
			</div>
			<div class="col-md-9" ng-init="showProducts()">
				<div class="row">
					<div class="col-md-4 items" ng-repeat="item in items | filter: query">
					    <div class="hovereffect">
					        <img class="card-img-top img-fluid" ng-src="images/items/{{ item.image_source }}.jpg">
					        <div class="overlay">
					           <a href="#" class="btn btn-outline-secondary btn-square info"><i class="fa fa-search-plus"></i> View Details</a>
					        </div>
					    </div>
					    <div class="card-block item-caption">
					    	<h4 class="card-title item-name">{{ item.product_name }}</h4>
					    	<a class="card-link item-category" href="#">{{ item.category_name }} <small>{{ item.brand_name }}</small></a>
					    	<h6 class="card-subtitle text-muted item-price">{{ item.price }}</h6>
					    </div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
